#refs>div.csl-entry,
#footnotes li {
    margin-block-end: 0.5rem;
}

.quarto-title .quarto-categories .quarto-category {
    font-size: .75em;
    line-height: 1em;
    opacity: 1;
}

div.sourceCode {
    overflow: hidden;
    border-radius: 4pt;
}

main img {
    border: 1px solid #edf2f4;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    margin-bottom: 10px;
}

pre.sourceCode {
    font-size: 0.8em;
    padding: 1em;
}